.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo input[type="checkbox"] {
  width: 2em;
  height: 2rem;
  accent-color: rgb(230, 230, 230);
}

.todo.incomplete {
  background-color: #fff;
}

.todo.complete {
  font-style: italic;
  text-decoration-line: line-through;
  color: rgb(121, 121, 121);
  background-color: rgb(236, 236, 236);
}

.todo > span {
  align-self: flex-start;
  display: inline-block;
  vertical-align: middle;
}

.todo > div {
  margin: auto 1rem;
  min-width: 10px;
  overflow-wrap: break-word;
  flex-grow: 1;
  text-align: left;
}